[Unit]
Description=uWSGI instance to serve DogsBestFriend
After=network.target

[Service]
User=lanza
Group=www-data
WorkingDirectory=/home/lanza/Projects/DogsBestFriend/Server
Environment="PATH=/home/lanza/.virtualenvs/Server-JzViVhFL/bin"
ExecStart=/home/lanza/.virtualenvs/Server-JzViVhFL/bin/uwsgi --ini server.ini

[Install]
WantedBy=multi-user.target

